<!DOCTYPE html>
<html>
<head>
    <title>Выпускники НПИ-ПГУ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <p class="header_name">Полоцкий государственный университет</p>
</header>
<h1 class="main_page_h1">ВЫПУСКНИКИ НПИ-ПГУ</h1>
<div class="content_main_page">
    <div class="main_page_left_block">

        <form action="#" class="fio_seach" method="post">
            <input type="text" class="fild_fio_seach" name="fio" placeholder="Фамилия Имя Отчество">
            <input type="submit" value="Найти">
        </form>
        <div class="result_seach">
            <ul class="find_graduates">
                {{#each graduate}}
                    <li>Фамилия: {{this.lastname}}<br> Имя: {{this.name}}<br> Отчество: {{this.patronymic}}<br> Факультет: {{this.title_faculty}} <br> Специальность: {{this.title_specialty}}<br> Форма обучения: {{this.type_training}}<br> Группа: {{this.groupp}}<br> Год выпуска: {{this.year}}<br> Номер диплома: {{this.diploma}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="main_page_right_block">
        <form action="/index" class="seach" method="post">
                <div class="properties_seach">
                    <label>Факультет</label>
                    <select name="facultyForm" class="properties_seach_input">
                        <option disabled selected>Выбрать факультет</option>
                        <option>Вечерний факультет</option>
                        <option>Геодезический факультет</option>
                        <option>Гуманитарный факультет</option>
                        <option>Дневной факультет</option>
                        <option>Заочный факультет</option>
                        <option>Инженерно-строительный факультет</option>
                        <option>Инженерно-технологический факультет</option>
                        <option>Инженерно-экологический факультет</option>
                        <option>Историко-правоведческий факультет</option>
                        <option>Историко-филологический факультет</option>
                        <option>Машиностроительный факультет</option>
                        <option>Механико-строительный факультет</option>
                        <option>Механико-технологический факультет</option>
                        <option>Радиотехнический факультет</option>
                        <option>Санитарно-технический факультет</option>
                        <option>Спортивно-педагогический факультет</option>
                        <option>Строительный факультет</option>
                        <option>Технологический факультет</option>
                        <option>Факультет иностранных языков</option>
                        <option>Факультет информационных технологий</option>
                        <option>Факультет машиностроения и автомобильного транспорта</option>
                        <option>Факультет педагогического воспитания и физической культуры</option>
                        <option>Факультет экономики и права</option>
                        <option>Финансово-экономический факультет</option>
                        <option>Юридический факультет</option>
                    </select>
                    <label>Специальность</label>
                    <input type="text" name="specialtyForm" class="properties_seach_input">
                    <label>Группа</label>
                    <input type="text" name="groupForm" class="properties_seach_input">
                    <label>Форма обучения</label>
                    <select name="trainingForm" class="properties_seach_input">
                        <option disabled selected>Выбрать форму обучения</option>
                        <option>дневная</option>
                        <option>дневная сокращенная</option>
                        <option>заочная</option>
                        <option>заочная сокращенная</option>
                        <option>дистанционная</option>
                        <option>вечерняя</option>
                    </select>
                    <label>Год выпуска</label>
                    <input type="text" name="yearForm" class="properties_seach_input">
                </div>
                <p><input type="submit" value="Найти"></p>
        </form>
    </div>

</div>
<footer>
    <p>PSU - Copyright @ 2020</p>
</footer>
</body>
<html>