<!DOCTYPE html>
<html>
<head>
    <title>Выпускники НПИ-ПГУ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <p class="header_name">Полоцкий государственный университет</p>
</header>
<h1 class="main_page_h1">ВЫПУСКНИКИ НПИ-ПГУ</h1>
<div class="content_main_page">
    <div class="main_page_left_block">

        <form action="#" class="fio_seach" method="get">
            <input type="text" class="fild_fio_seach" name="fio" placeholder="Фамилия Имя Отчество">
            <input type="submit" value="Найти">
        </form>
        <div class="result_seach">
            <ul class="find_graduates">
                <li>Тестовый выпускник 1</li>
                <li>Тестовый выпускник 2</li>
                <li>Тестовый выпускник 3</li>
                <li>Тестовый выпускник 4</li>
                <li>Тестовый выпускник 5</li>
            </ul>
        </div>
    </div>
    <div class="main_page_right_block">
        <form action="#" class="seach" method="get">
                <div class="properties_seach">
                    <label>Факультет</label>
                    <select name="faculty" class="properties_seach_input">
                        <option disabled selected>Выбрать факультет</option>
                        <option>Вечерний факультет</option>
                        <option>Геодезический факультет</option>
                        <option>Гуманитарный факультет</option>
                        <option>Дневной факультет</option>
                        <option>Заочный факультет</option>
                        <option>Инженерно-строительный факультет</option>
                        <option>Инженерно-технологический факультет</option>
                        <option>Инженерно-экологический факультет</option>
                        <option>Историко-правоведческий факультет</option>
                        <option>Историко-филологический факультет</option>
                        <option>Машиностроительный факультет</option>
                        <option>Механико-строительный факультет</option>
                        <option>Механико-технологический факультет</option>
                        <option>Радиотехнический факультет</option>
                        <option>Санитарно-технический факультет</option>
                        <option>Спортивно-педагогический факультет</option>
                        <option>Строительный факультет</option>
                        <option>Технологический факультет</option>
                        <option>Факультет иностранных языков</option>
                        <option>Факультет информационных технологий</option>
                        <option>Факультет машиностроения и автомобильного транспорта</option>
                        <option>Факультет педагогического воспитания и физической культуры</option>
                        <option>Факультет экономики и права</option>
                        <option>Финансово-экономический факультет</option>
                        <option>Юридический факультет</option>
                    </select>
                    <label>Специальность</label>
                    <input type="text" name="specialty" class="properties_seach_input">
                    <label>Группа</label>
                    <input type="text" name="group" class="properties_seach_input">
                    <label>Форма обучения</label>
                    <select name="training" class="properties_seach_input">
                        <option disabled selected>Выбрать форму обучения</option>
                        <option>Дневная</option>
                        <option>Дневная сокращенная</option>
                        <option>Заочная</option>
                        <option>Заочная сокращенная</option>
                        <option>Дистанционная</option>
                        <option>Вечерняя</option>
                    </select>
                    <label>Год выпуска</label>
                    <input type="text" name="year" class="properties_seach_input">
                </div>
                <p><input type="submit" value="Найти"></p>
        </form>
    </div>
<!-- пример вывода из бд
    <tr><th>Name</th><th>Age</th><th></th></tr>
    {{#each graduate}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.group}}</td>
            <td>{{this.id-faculty}}</td>
            <td>
                <a href="/edit/{{this.id}}">Edit</a>|
                <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {{/each}}
-->
</div>
<footer>
    <p>PSU - Copyright @ 2020</p>
</footer>
</body>
<html>