<div class="content_profile_page">
    <div class="profile_photo">
        {{#each graduate}}
            <img src="/picture/photoGraduate/{{this.avatarphoto}}" alt="photo graduate" class="photo_graduate">
            <p>{{this.lastname}} {{this.name}} {{this.patronymic}}</p>
        {{/each}}
    </div>
        <div class="profile_data">
                {{#each graduate}}
                    <div class="trainer">
                        <p class="profile_data_zaglavie">Обучение</p>
                        <ul>
                            <li><div class="profile_data_list_name">Год окончания:</div><div class="profile_data_list_inf">{{this.year}}</div></li>
                            <li><div class="profile_data_list_name">Факультет:</div><div class="profile_data_list_inf">{{this.title_faculty}}</div></li>
                            <li><div class="profile_data_list_name">Специальность:</div><div class="profile_data_list_inf">{{this.title_specialty}}</div></li>
                            <li><div class="profile_data_list_name">Форма обучения:</div><div class="profile_data_list_inf">{{this.type_training}}</div></li>
                            <li><div class="profile_data_list_name">Группа:</div><div class="profile_data_list_inf">{{this.groupp}}</div></li>
                        </ul>
                    </div>
                    <div class="contacts">
                        <p class="profile_data_zaglavie">Контакты</p>
                        <ul>
                            <li><div class="profile_data_list_name">Телефон:</div><div class="profile_data_list_inf">{{this.number}}</div></li>
                            <li><div class="profile_data_list_name">E-mail:</div><div class="profile_data_list_inf">{{this.email}}</div></li>
                        </ul>
                    </div>
                    <div class="career">
                        <p class="profile_data_zaglavie">Карьера</p>
                        {{this.career}}
                    </div>
                    <div class="review">
                        <p class="profile_data_zaglavie">Отзыв</p>
                        {{this.review}}
                    </div>
                {{/each}}

        </div>
</div>
